body{
    background-color: rgb(158, 206, 238);
    
}
h1{
    
color: white;
}
p{
color: white;
}
.boxh{
    margin-bottom: 10px;
    background-color: rgb(151, 135, 240);
    text-align: center;

}

.sAccord{
    margin-top: 50px;
}
.custom-card{
    padding-left: 20px;
}
